<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Entity Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $( function() {
        $( "#datePicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
    } );

    </script>
</head>

<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>
<div class="container my-2">
    <h1>Schedule Management System</h1>
    <hr>
    <h1>Schedule Menu</h1>
    <form action="#" th:action="@{/timeTables}" method="get">
        <div class="input-group date">
            <input type="text"
                   id="datePicker"
                   name="date"
                   placeholder="Schedule Date">
        </div>
        <br>
        <button type="submit" class="btn btn-info col-2">Show Schedule</button>
    </form>
</div>
</body>
</html>